body {
  @apply font-display antialiased;
}

/* Headings */
h1,.h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply
    p-0
    mb-6
		leading-tight
    font-display
    leading-minimal
    tracking-tighter
    font-light;
}

h1 {
  @apply text-9xlvw;

  @screen md {
    @apply text-3xlvw;
  }
}

h2 {
  @apply text-8xlvw;
  
  @screen md {
    @apply text-2xlvw;
  }
}

/* Link */
.link {
  @apply text-black underline transition;

  &:hover, &:focus {
    @apply text-gray-600;
  }

  &.is--active {
    @apply text-red-700;
  }
}

/* Content */
.content {
  /* Paragraph */
  p {
    @apply mb-6 text-lg tracking-tight font-light;

    @screen md {
      @apply text-xl mb-8;
    }

    &:last-of-type {
      @apply mb-0;
    }
  }

  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    @apply mt-12 mb-6 leading-minimal uppercase;
  }

  strong {
    @apply font-normal;
  }

  ul {
    @apply mb-6 list-inside list-disc;

    @screen md {
      @apply mb-8;
    }

    li {
      @apply text-lg;

      @screen md {
        @apply text-xl
      }
    }
  }
  
  ol {
    @apply mb-6 list-inside list-decimal;

    @screen md {
      @apply mb-8;
    }

    li {
      @apply text-lg;

      @screen md {
        @apply text-xl
      }
    }
  }

  a {
    @apply bg-gray-200 text-black border-b border-transparent border-opacity-25;

    &:hover, &:focus {
      @apply border-black border-opacity-50;
    }
  }

  /* Headings following paragraphs */
  p + h1, p + h2, p + h3, p + h4 {
    @apply pt-6 block;

    @screen md {
      @apply pt-8;
    }
  }
}

figcaption {
  @apply uppercase py-2 block text-sm mb-5;

  @screen md {
    @apply text-base;
  }
}

.nav-item {
  &:hover, &:focus {
    @apply italic;
  }

  &.is--active {
    @apply relative pl-5 italic;

    @screen md {
      @apply pl-0 pr-5;
    }
    
    &:after {
      @apply absolute left-0 top-0 leading-none bg-black rounded-full ml-2;
      
      content: ' ';
      width: 6px;
      height: 6px;
      margin-top: 7px;

      @screen md {
        @apply right-0 left-auto ml-0 pl-0 mr-2;
      }
    }
  }
}

@responsive {
  .upright {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
  }
}

::selection { 
  @apply bg-black text-white bg-opacity-100;
}