/* Local Fonts */
@import './partials/_fonts.css';

/* Tailwind Base + Components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Partials */
@import './partials/_container.css';
@import './partials/_typography.css';

/* Tailwind Utils */
@import 'tailwindcss/utilities';

.image-scale-in {
  animation-name: revealIntroImageScale;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transform-origin: center;
}

@keyframes revealIntroImageScale {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}